.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.activate-message, .activate-error{
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.activate-error{
  color: red;
}

.activate-message{
  color: #007bff;
}
