li>a{
  &:hover{
    background-color: #c5f6f2;
    border-radius: 5px;
    text-decoration: underline;
  }
  &.active{
    color: #4f81d0;
    border-radius: 5px;
    text-decoration: underline;
    font-weight: bold;
  }
}
